@model IEnumerable<SchoolApp.Entities.SchoolClass>

@{
    ViewData["Title"] = "Classes";
}

<h1 class="display-4 text-center">Classes</h1>

<p class="text-end me-5">
    <a class="create-link" asp-action="Create">Create New Class</a>
</p>
<table class="table  table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                </td>
                <td>
                    <a class="inline-links" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="inline-links" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="inline-links" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
